* {
  margin: 0;
}
body {
  margin: auto;
  margin-top: 50px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.logo {
  /* flex-grow: 2; */
  color: white;
  padding-left: 10px;
}
.navbar {
  align-items: center;
  background-color: #3a445d;
  color: white;
  display: flex;
  height: 20px;
  padding: 10px 0px;
  justify-content: space-between;
  box-shadow: 0px 2px 8px #c7c7c7;
  width: 100vw;
  position: fixed;
  top: 0;
}
nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.indExp {
  display: flex;
  padding: 20px;
  width: 200px;
  flex-direction: column;
  flex-wrap: wrap;
}

.imgThumb {
  height: 250px;
  width: 250px;
}

.expBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  width: 100vw;
  max-width: 800px;
  margin: auto;
  justify-content: space-evenly;
}

.expTitle {
  display: flex;
  flex: wrap;
  flex-direction: row;
  padding-bottom: 10px;
  align-content: flex-end;
  justify-content: space-between;
  font-size: 13px;
}

.celebName {
  background-color: #d4d2a5;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.imgMed {
  height: 300px;
  width: 300px;
}

.logo a {
  color: white;
}

img {
  object-fit: cover;
  max-width: 500px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.layout {
  display: flex;
}

.cart {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.container {
  align-content: center;
  width: 800px;
  text-align: center;
  padding: 30px 0px;
  margin: auto;
  background-color: whitesmoke;
  box-shadow: 2px 2px 5px #e4e4e4;
  border-radius: 8px;
}

.container ul {
  list-style-type: none;
  width: 600px;
  padding: 0;
  margin: auto;
}
