* {
  margin: 0;
}
body {
  margin: auto;
  margin-top: 50px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav {
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
}
.logo {
  /* flex-grow: 2; */
  color: white;
  padding-left: 10px;
}
.navbar {
  align-items: center;
  background-color: #3a445d;
  color: white;
  display: flex;
  height: 20px;
  padding: 10px 0px;
  justify-content: space-between;
  box-shadow: 0px 2px 8px #c7c7c7;
  width: 100vw;
  position: fixed;
  top: 0;
  overflow: hidden;
}
nav a {
  display: inline-block;
  margin: 1em;
  color: white;
}

form div {
  margin: 1em;
  display: inline-block;
}

.indExp {
  display: flex;
  padding: 20px;
  width: 200px;
  flex-direction: column;
  flex-wrap: wrap;
}

.imgThumb {
  height: 250px;
  width: 250px;
  /* box-shadow: 0px 2px 8px #c7c7c7;
  border-radius: 4px; */
  /* -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9)); */
}

.expBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 15px;
  width: 100vw;
  max-width: 800px;
  margin: auto;
  justify-content: space-evenly;
}

.expTitle {
  display: flex;
  flex: wrap;
  flex-direction: row;
  padding-bottom: 10px;
  align-content: flex-end;
  justify-content: space-between;
  font-size: 13px;
}

.celebName {
  background-color: #d4d2a5;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.imgMed {
  height: 300px;
  width: 300px;
}

.logo a {
  color: white;
}

img {
  object-fit: cover;
  /* max-width: 500px; */
}

.container > img {
  max-width: 500px;
}
.welcome {
  text-align: center;
  padding: 60px;
  font-weight: bolder;
  font-size: 40px;
}

.car1img {
  opacity: 0.5;
  width: 100%;
  position: relative;
  object-fit: cover;
  object-position: 0 100%;

  height: 500px;
}

.centered {
  position: absolute;
  text-align: center;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #5e5768;
  background: rgba(212, 210, 165, 0.6);
  padding: 30px;
  border-radius: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 600px;
}

.header2 {
  display: flex;
  flex-direction: row;
  position: relative;
}

.header2 img {
  flex-basis: 700px;
  width: 750px;
  -webkit-filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
  filter: drop-shadow(16px 16px 10px rgba(0, 0, 0, 0.9));
}

.header2txtbox {
  display: flex;
  flex-direction: column;
  font-family: Georgia, 'Times New Roman', Times, serif;
  align-content: center;
  text-align: center;
  color: #5e5768;
}

.header2head {
  font-size: 50px;
  width: 300px;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 150px;
  padding-bottom: 20px;
}

.header2text {
  font-size: 16px;
  width: 300px;
  padding-left: 100px;
  padding-right: 100px;
}

.thumbnail {
  width: 100px;
  height: 100px;
  object-fit: cover;
}
.layout {
  display: flex;
}

.cart {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: white;
  overflow-x: hidden;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
}

.container {
  align-content: center;
  width: 800px;
  text-align: center;
  padding: 30px 0px;
  margin: auto;
  background-color: whitesmoke;
  box-shadow: 2px 2px 5px #e4e4e4;
  border-radius: 8px;
}

.container ul {
  list-style-type: none;
  width: 600px;
  padding: 0;
  margin: auto;
}
